@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#formContainer {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}

#myTitle{
    margin-bottom:30px;
    font-weight: bold;
}

#actionButton{
    font-size: 16px;
    background-color: #F04928;
    border-color: #F04928;
    color: white;
    margin-top: 20px;
}
#actionButton:hover{
    background-color: #de2500;
    border-color: #de2500;
}

#creationbutton{
    font-size: 16px;
    background-color: #F04928;
    border-color: #F04928;
    color: white;
}
#creationbutton:hover{
    background-color: #de2500;
    border-color: #de2500;
}